<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
</head>
<body>
 <h1>Amoy Perry</h1>
 <p> I am the second born to a pair of twins. We are identical twin girls. I am in my final year of pursuing a degree in Computer Science. Initially, I wanted to do a double major and I failed a course, my first and definitely last, and as such electronics existence on my soon to gain degree was lost. I am a Christian and I am appreciative of every oppurtunity the Lord has blessed me with. </p>
</body>
</html> 

